.result {
    padding-top: 80px;
}

.result .page-title {
    margin-bottom: 10px;
}

.result .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result .content p {
    margin-bottom: 60px;
    text-align: center;
}

.result .content .w-btn {
    margin-top: 60px;
    font-weight: 600;
}

@media (576px >= width) {
    .result img {
        width: 60%;
    }
}