.error-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-title{
    font-size: 5rem;
}
.error-page p{
    font-size: 1.5rem;
}

.error-page .error-btn{
    outline: none;
    background-color: #0989ff;
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
}

.error-btn .arrow-icon{
    margin-left: 10px;
}

.error-page img{
    width: 30%;
}